---
import Navbar from "../components/Navbar.astro";

const { title, description } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/custom.css" />
    <link rel="icon" type="image/png" href="/images/rose.svg" />
  </head>
  <body>
    <Navbar />
    <main>
      <section class="content">
        <h1>{title}</h1>
        <p>{description}</p>
        <slot />
      </section>
    </main>

    <footer class="footer">
      <p>Con todo mi amor, <strong>tu morchi</strong>. ❤️</p>
    </footer>
  </body>
</html>

<style>
  .content {
    padding: 2rem 1rem;
    text-align: center;
  }
</style>
